@font-face {
  font-family: flutter;
  src: url(./KFO7CnqEu92Fr1ME7kSn66aGLdTylUAMa3yUBA.woff2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
  font-family: flutter;
  overflow-x: hidden;
}

html {
  font-size: clamp(14px, 1.5vw, 18px);
}

section {
  max-width: 2000px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
}
main section.view1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  background: linear-gradient(#F4F7FB, #F4F7FB, #FAE3EC);
  padding: 5rem 0rem;
}
main section.view1 .container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 1rem 0rem;
}
main section.view1 .container .milton .media {
  padding: 0rem 1rem;
}
main section.view1 .container .milton .media img {
  width: 100%;
}
main section.view1 .container .milton .text {
  width: 100%;
  padding: 4rem 5rem;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  justify-content: center;
}
main section.view1 .container .milton .text h1 {
  font-size: 2.8rem;
  text-align: center;
}
main section.view1 .container .minitext {
  padding: 2rem 1rem;
}
main section.view1 .container .minitext h2 {
  font-size: 2.2rem;
  font-weight: 400;
  text-align: center;
}
main section.view2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 4rem 1rem;
}
main section.view2 .features {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 0.5rem 0rem;
}
main section.view2 .features .community {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 0.5rem 1rem;
}
main section.view2 .features .community .line {
  width: 98%;
  background-color: rgba(152, 152, 152, 0.235);
  height: 0.2rem;
  margin-left: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
main section.view2 .features .community .text {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main section.view2 .features .community .text h3 {
  font-size: 1.6rem;
}
main section.view2 .features .community .text p {
  font-size: 1.2rem;
  opacity: 0.7;
}
main section.view2 .features .community .media {
  width: 100%;
  padding: 5rem 1rem;
}
main section.view2 .features .community .media img {
  width: 100%;
}
main section.view2 .features .events {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 0.5rem 1rem;
}
main section.view2 .features .events .line {
  width: 98%;
  background-color: rgba(152, 152, 152, 0.235);
  height: 0.2rem;
  margin-left: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2.5rem;
}
main section.view2 .features .events .text {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main section.view2 .features .events .text h3 {
  font-size: 1.6rem;
}
main section.view2 .features .events .text p {
  font-size: 1.2rem;
  opacity: 0.7;
}
main section.view2 .features .events .media {
  width: 100%;
  padding: 5rem 1rem;
}
main section.view2 .features .events .media img {
  width: 100%;
}
main section.view2 .features .packages {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 0.5rem 1rem;
}
main section.view2 .features .packages .line {
  width: 98%;
  background-color: rgba(152, 152, 152, 0.235);
  height: 0.2rem;
  margin-left: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -2.5rem;
}
main section.view2 .features .packages .text {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main section.view2 .features .packages .text h3 {
  font-size: 1.6rem;
}
main section.view2 .features .packages .text p {
  font-size: 1.2rem;
  opacity: 0.7;
}
main section.view2 .features .packages .media {
  width: 100%;
  padding: 4rem 1rem;
}
main section.view2 .features .packages .media img {
  width: 100%;
}
main section.view3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 0.5rem 1rem;
}
main section.view3 .involved {
  width: 100%;
}
main section.view3 .involved .top img {
  width: 100%;
}
main section.view3 .involved .bottom {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
main section.view3 .involved .bottom h1 {
  font-size: 3rem;
  font-size: 500;
}
main section.view3 .involved .bottom h4 {
  font-size: 1.2rem;
  color: rgb(95, 95, 95);
  font-weight: 500;
}
main section.view3 .involved .bottom p {
  font-size: 1.1rem;
  width: 92%;
  opacity: 0.7;
}
main section.view3 .involved .bottom .culture {
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view3 .involved .bottom .culture button {
  padding: 0.7rem;
  width: 60%;
  border: 0.1rem solid royalblue;
  border-radius: 3rem;
  color: royalblue;
  font-size: 1rem;
  font-weight: 600;
  background-color: #FFFFFF;
}
main section.view3 .involved .bottom .culture P {
  margin-left: 1rem;
  color: black;
  font-size: 1rem;
  font-weight: 800;
}
main section.view4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 4rem 1rem;
  margin-top: 4rem;
  background: linear-gradient(#F8FBF3, #FCFCE2);
}
main section.view4 .consultant {
  width: 100%;
}
main section.view4 .consultant .top img {
  width: 100%;
}
main section.view4 .consultant .bottom {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
main section.view4 .consultant .bottom h1 {
  font-size: 3rem;
  font-size: 500;
}
main section.view4 .consultant .bottom h4 {
  font-size: 1.2rem;
  color: rgb(95, 95, 95);
  font-weight: 500;
}
main section.view4 .consultant .bottom p {
  font-size: 1.1rem;
  width: 92%;
  opacity: 0.7;
}
main section.view4 .consultant .bottom .culture {
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view4 .consultant .bottom .culture button {
  padding: 0.7rem;
  width: 60%;
  border: 0.1rem solid royalblue;
  border-radius: 3rem;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  background-color: royalblue;
}
main section.view5 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 5rem 1rem;
}
main section.view5 .invited {
  width: 100%;
}
main section.view5 .invited .top img {
  width: 100%;
}
main section.view5 .invited .bottom {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
main section.view5 .invited .bottom h1 {
  font-size: 3rem;
  font-size: 500;
}
main section.view5 .invited .bottom h4 {
  font-size: 1.2rem;
  color: rgb(95, 95, 95);
  font-weight: 500;
}
main section.view5 .invited .bottom p {
  font-size: 1.1rem;
  width: 92%;
  opacity: 0.7;
}
main section.view5 .invited .bottom .culture {
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view5 .invited .bottom .culture button {
  padding: 0.7rem;
  width: 40%;
  border: 0.1rem solid royalblue;
  border-radius: 3rem;
  color: royalblue;
  font-size: 1rem;
  font-weight: 600;
  background-color: #FFFFFF;
}
main section.view6 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 3rem 1rem;
  margin-top: -2rem;
  background: linear-gradient(#fdfdfd, #FCFCE2);
}
main section.view6 .pub {
  width: 100%;
}
main section.view6 .pub .top img {
  width: 100%;
}
main section.view6 .pub .bottom {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
main section.view6 .pub .bottom h1 {
  font-size: 3rem;
  font-size: 500;
}
main section.view6 .pub .bottom h4 {
  font-size: 1.2rem;
  color: rgb(95, 95, 95);
  font-weight: 500;
}
main section.view6 .pub .bottom p {
  font-size: 1.1rem;
  width: 92%;
  opacity: 0.7;
}
main section.view6 .pub .bottom .culture {
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main section.view6 .pub .bottom .culture button {
  padding: 0.7rem;
  width: 60%;
  border: 0.1rem solid royalblue;
  border-radius: 3rem;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight: 600;
  background-color: royalblue;
}
main section.view7 {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 6rem 1.5rem;
}
main section.view7 .started {
  width: 100%;
  background-image: url(./img9.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  background-color: #042449;
  border-radius: 2rem;
  padding: 5rem 2dvi 7rem 2rem;
}
main section.view7 .started .get {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 1.5rem;
}
main section.view7 .started .get h1 {
  color: white;
  font-size: 2.7rem;
  font-weight: 700;
}
main section.view7 .started .get p {
  color: white;
  font-size: 1.2rem;
}
main section.view7 .started .culture {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 0rem 2rem;
}
main section.view7 .started .culture button {
  padding: 0.7rem;
  width: 50%;
  border: 0.1rem solid royalblue;
  border-radius: 3rem;
  color: royalblue;
  font-size: 1rem;
  font-weight: 700;
  margin-left: -0.5rem;
  background-color: rgb(255, 255, 255);
}
main section.view7 .started .culture p {
  color: white;
  margin-left: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
}

footer {
  background-color: #F8F9FA;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding: 0.5rem 3.5rem;
}
footer .contentfooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.3rem;
}
footer .contentfooter .logo {
  width: 100%;
  padding: 1rem 0rem;
  margin-left: -1rem;
}
footer .contentfooter .logo a {
  font-size: 1rem;
}
footer .contentfooter .footerlinks {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
footer .contentfooter .footerlinks ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
footer .contentfooter .footerlinks ul li {
  list-style: none;
  font-size: 1.2rem;
  font-weight: 500;
}
footer .contentfooter .footerlinks ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
  opacity: 0.7;
  font-weight: 400;
}
footer .socialfooter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
}
footer .socialfooter .icon {
  display: flex;
  gap: 1rem;
}
footer .socialfooter .icon a {
  font-size: 1.5rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.717);
}
footer .line {
  width: 98%;
  background-color: rgba(152, 152, 152, 0.265);
  height: 0.2rem;
  margin-left: 0.1rem;
  margin-top: 2.7rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footertray {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
footer .footertray .except {
  text-align: center;
  font-size: 1rem;
  opacity: 0.8;
  line-height: 1.7rem;
}
footer .footertray .terms {
  margin-top: -1.3rem;
  padding-bottom: 6.3rem;
}
footer .footertray .terms ul {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
footer .footertray .terms ul li {
  list-style: none;
  font-size: 1rem;
  opacity: 0.8;
}

@media (min-width: 900px) {
  main section.view1 {
    flex-direction: row-reverse;
  }
  main section.view1 .container {
    padding: 5rem 8rem;
    margin-bottom: -10rem;
  }
  main section.view1 .container .milton {
    display: flex;
    flex-direction: row-reverse;
  }
  main section.view1 .container .milton .text, main section.view1 .container .milton .media {
    width: 50%;
  }
  main section.view1 .container .milton .text h1 {
    font-size: 4rem;
  }
  main section.view1 .container .minitext {
    padding: 7rem 11rem;
  }
  main section.view2 {
    flex-direction: row;
  }
  main section.view2 .features {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  main section.view2 .features .community, main section.view2 .features .events, main section.view2 .features .packages {
    width: 27%;
  }
  main section.view2 .features .community {
    margin-top: -0.5rem;
  }
  main section.view2 .features .events {
    margin-top: 2rem;
  }
  main section.view2 .features .packages {
    margin-top: 1.4rem;
  }
  main section.view3 {
    flex-direction: row;
  }
  main section.view3 .involved {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  main section.view3 .involved .top, main section.view3 .involved .bottom {
    width: 40%;
  }
  main section.view3 .involved .top {
    margin-top: -6rem;
  }
  main section.view3 .involved .bottom {
    margin-top: -4rem;
  }
  main section.view3 .involved .bottom h4 {
    font-size: 1.5rem;
  }
  main section.view3 .involved .bottom h1 {
    font-size: 3.5rem;
  }
  main section.view3 .involved .bottom p {
    width: 87%;
    font-size: 1.3rem;
  }
  main section.view3 .involved .bottom .culture {
    display: flex;
    flex-direction: row;
  }
  main section.view3 .involved .bottom .culture button {
    width: 45%;
    font-size: 0.9rem;
    font-weight: 600;
  }
  main section.view3 .involved .bottom .culture p {
    margin-top: 0.5rem;
    color: black;
  }
  main section.view4 {
    flex-direction: row;
  }
  main section.view4 .consultant {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  main section.view4 .consultant .top, main section.view4 .consultant .bottom {
    width: 40%;
  }
  main section.view4 .consultant .top {
    margin-top: -2rem;
  }
  main section.view4 .consultant .bottom {
    margin-top: -2rem;
  }
  main section.view4 .consultant .bottom h4 {
    font-size: 1.5rem;
  }
  main section.view4 .consultant .bottom h1 {
    font-size: 3.5rem;
  }
  main section.view4 .consultant .bottom p {
    width: 87%;
    font-size: 1.3rem;
  }
  main section.view4 .consultant .bottom .culture {
    display: flex;
    flex-direction: row;
  }
  main section.view4 .consultant .bottom .culture button {
    width: 45%;
    font-size: 0.9rem;
    font-weight: 600;
  }
  main section.view5 {
    flex-direction: row;
    margin-bottom: -7rem;
  }
  main section.view5 .invited {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
  main section.view5 .invited .top, main section.view5 .invited .bottom {
    width: 40%;
  }
  main section.view5 .invited .top {
    margin-top: 2rem;
  }
  main section.view5 .invited .bottom {
    margin-top: -6rem;
  }
  main section.view5 .invited .bottom h4 {
    font-size: 1.5rem;
  }
  main section.view5 .invited .bottom h1 {
    font-size: 3.5rem;
  }
  main section.view5 .invited .bottom p {
    width: 87%;
    font-size: 1.3rem;
  }
  main section.view5 .invited .bottom .culture {
    display: flex;
    flex-direction: row;
  }
  main section.view5 .invited .bottom .culture button {
    width: 25%;
    font-size: 0.9rem;
    font-weight: 600;
  }
  main section.view6 {
    flex-direction: row;
  }
  main section.view6 .pub {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -2rem;
  }
  main section.view6 .pub .top, main section.view6 .pub .bottom {
    width: 40%;
  }
  main section.view6 .pub .top {
    margin-top: -1rem;
  }
  main section.view6 .pub .bottom {
    margin-top: 2rem;
  }
  main section.view6 .pub .bottom h4 {
    font-size: 1.5rem;
  }
  main section.view6 .pub .bottom h1 {
    font-size: 3.5rem;
  }
  main section.view6 .pub .bottom p {
    width: 87%;
    font-size: 1.3rem;
  }
  main section.view6 .pub .bottom .culture {
    display: flex;
    flex-direction: row;
  }
  main section.view6 .pub .bottom .culture button {
    width: 30%;
    font-size: 0.9rem;
    font-weight: 600;
  }
  main section.view7 {
    flex-direction: row;
    width: 80%;
    margin-left: 10rem;
  }
  main section.view7 .started {
    height: 18rem;
    display: flex;
    padding: 1rem 2rem 3rem 3rem;
    margin-left: -5rem;
  }
  main section.view7 .started .get {
    display: flex;
    gap: -4rem;
  }
  main section.view7 .started .get h1 {
    font-size: 3.5rem;
  }
  main section.view7 .started .culture {
    display: flex;
    flex-direction: row;
  }
  main section.view7 .started .culture button {
    width: 10%;
    border: none;
    padding: -1rem;
  }
  main section.view7 .started .culture p {
    margin-top: 0.7rem;
  }
  footer {
    display: flex;
  }
  footer .contentfooter {
    display: flex;
    flex-direction: row;
  }
  footer .contentfooter .logo {
    padding-top: 2rem;
  }
  footer .contentfooter .footerlinks {
    padding-top: 2rem;
    margin-left: -40rem;
    display: flex;
    flex-direction: row;
    gap: 8rem;
  }
  footer .contentfooter .footerlinks ul li {
    font-size: 1rem;
  }
  footer .contentfooter .footerlinks ul li a {
    font-size: 0.9rem;
    font-weight: 400;
  }
  footer .socialfooter {
    margin-left: -65rem;
    margin-top: -3rem;
  }
  footer .socialfooter .icon a {
    font-size: 1.1rem;
  }
  footer .line {
    color: rgba(128, 128, 128, 0.094);
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 0.01rem;
    width: 99%;
  }
  footer .footertray {
    display: flex;
    flex-direction: row;
  }
  footer .footertray .except {
    width: 75%;
    font-size: 0.8rem;
    text-align: left;
  }
  footer .footertray .terms {
    margin-top: 0.2rem;
  }
  footer .footertray .terms ul {
    margin-right: -23rem;
  }
  footer .footertray .terms ul li {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=style.css.map */